body {
  outline: 0;
  box-sizing: border-box;
  margin: 0;

  font-family: Inter, Arial, sans-serif;
  flex-grow: 1;
}

body * {
  box-sizing: border-box;
  outline: 0;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 0.5rem 1rem;
  position: relative;
}

.dcaTitle {
  text-align: center;
  margin: 0;
}

.dcaGrid {
  display: flex;
  position: relative;
}

.dcaContent {
  flex-grow: 1;
}

.downloadButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.downloadButton {
  text-decoration: none;
  color: black;
  width: max-content;
  margin: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #eee;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.downloadButton:hover{
  cursor: pointer;
  transition: transform 0.5s;
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.md {
  cursor: pointer;
}

body > footer {
  background: #333;
  color: #e6e6e6;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr minmax(300px, min(90vw, 1024px)) 1fr;
  gap: 1em;
  font-size: small;
  background-color: #333;
}

body > footer > .content {
  grid-column: 2;
  text-align: center;
}

.footer {
  color: inherit;
}

.supportButton {
  text-decoration: none;
  color: black;
  margin: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #eee;
  cursor: pointer;
}

.supportButton:hover {
  cursor: pointer;
  transition: transform 0.5s;
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.sponsor {
  margin-top: 2rem;
}

input, select {
  font-family: inherit;
  border-radius: 3px;
  border: 0;
}

input[type=text] {
  border: solid 1px #aaa;
}

.footer-link {
  color: #ddd;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
}

.footer-link:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.footer-links {
  margin-top: 1rem;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  margin: 0.5rem 0;
}

.footer-links ul li a {
  color: #bbb;

  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #fff;
}

.footer-links p {
  font-weight: bold;
  margin-bottom: 0.5rem;
}


.footer-links-title {
  font-size: 1.1rem;
  border-bottom: 1px solid #555;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.footer-link-lists {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

@media (max-width: 768px) {
  .footer-link-lists {
    flex-direction: column;
  }

  body > footer {
    padding: 1rem;
  }

  body > footer > .content {
    grid-column: 1 / -1;
  }
}