body {
  outline: 0;
  box-sizing: border-box;

  font-family: Inter, Arial, sans-serif;
}

.dcaTitle {
  text-align: center;
}

.dcaGrid {
  display: flex;
}

.dcaContent {
  flex-grow: 1;
}

.downloadButton {
  text-decoration: none;
  color: black;
  width: max-content;
  margin: 1rem auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #eee;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.md {
  cursor: pointer;
}

body > footer {
  background: #333;
  color: #e6e6e6;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr minmax(300px, min(90vw, 1024px)) 1fr;
  gap: 1em;
  font-size: small;
  background-color: #333;
}

body > footer > .content {
  grid-column: 2;
}

.view-type-selector {
  position: absolute;
  top: 20px;
  right: 50px;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #eee;
  display: flex;
  align-items: center;
}

.view-type-selector .view-selector {
  cursor: pointer;
  padding: 5px;
  border-left: 1px solid #ccc;
}

.view-type-selector .view-selector.selected {
  background: #ddd;
}

.view-type-selector .view-selector:first-child {
  border-left: 0;
}

.footer {
  color: inherit;
}
