.header {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.dayList {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.dayList > span {
  padding: 5px;
}

.weeks {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.date {
  padding: 10px;
  text-align: center;
  background: #eee;
  border-radius: 3px;
  cursor: pointer;
}

.date.invisible {
  visibility: hidden;
}

.date.intensity-1 {
  filter: brightness(0.95);
}
.date.intensity-2 {
  filter: brightness(0.9);
}
.date.intensity-3 {
  filter: brightness(0.85);
}
.date.intensity-4 {
  filter: brightness(0.8);
}
.date.intensity-5 {
  filter: brightness(0.75);
}
.date.intensity-6 {
  filter: brightness(0.7);
}
.date.intensity-7 {
  filter: brightness(0.65);
}
.date.intensity-8 {
  filter: brightness(0.6);
}
.date.intensity-9 {
  filter: brightness(0.55);
}
.date.intensity-10 {
  filter: brightness(0.5);
}
