.header {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.dayList {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.dayList > span {
  padding: 5px;
}

.weeks {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.date {
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}

.date.invisible {
  visibility: hidden;
}

.date.intensity-1 {
  background-color: rgb(241 245 249);
}
.date.intensity-2 {
  background-color: rgb(226 232 240);
}
.date.intensity-3 {
  background-color: rgb(226 232 240);
}
.date.intensity-4 {
  background-color: rgb(148 163 184);
}
.date.intensity-5 {
  background-color: rgb(100 116 139);
  color: #fafafa;
}
.date.intensity-6 {
  background-color: rgb(71 85 105);
  color: #fafafa;
}
.date.intensity-7 {
  background-color: rgb(51 65 85);
  color: #fafafa;
}
