.eventCell {
  padding: 1rem;
  border-radius: 3px;
  background: #eee;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

.eventCell a {
  color: blue;
}

.eventCell .when {
  font-size: 0.8em;
}
