.eventCell {
  padding: 1rem;
  border-radius: 3px;
  background: #eee;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

.lucide-arrow-right-circle {
  cursor: pointer;
}

.lucide-arrow-left-circle {
  cursor: pointer;
}

.eventCell .content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.eventCell a {
  color: blue;
}

.eventCell .when {
  font-size: 0.8em;
}
