.filters {
    border-right: 1px solid #ccc;
    padding: 1rem 2rem;
    transition: 1s;
    position: fixed;
    padding-top: 7rem;
    top: 0;
    left: 0;
    z-index: 999999;
    background: white;
    height: 100%;
    width: 300px;
    box-sizing: border-box;
}

.filters-icon {
    position: fixed;
    /* top: 7rem; */
    left: 100%;
}

.filters-header {
    white-space: nowrap;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1rem;
}

.filters .lucide-filter, .filters .lucide-filter-x {
    min-width: 24px;
    background: #eee;
    padding: 5px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #ccc;
}

.filters .filters-title {
    font-weight: 600;
    font-size: 24px;
}

.filters.open .filters-title {
    background: revert;
}

.filters.open {
    transform: translateX(0%);
    border-color: #cccccc;
}

.filters.closed {
    transform: translateX(-100%);
    border-color: #cccccc00;
}

.filtersList {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin: 2rem 0;
}

.filters .filtersItem {
    overflow: hidden;
    white-space: nowrap;
}

.filters .filtersItem.tags-filter {
    overflow: visible;
    white-space: normal;
}

.filters .filtersItem input[type=checkbox] {
    margin-right: 0.5rem;
}

.filters .filtersItem input[type=text] {
    padding: 0.5rem 1rem;
    width: 100%;
}

.filters .filtersItem input[type="date"] {
    padding: 0.5rem 1rem;
    width: 100%;
    border: solid 1px #aaa;  
}

.filters .filtersItem label {
    display: inline-block;
    width: 100%;
}

.filters .filtersItem label[for=filter-query] {
    display: block;
}

.filters .filtersItem select {
    padding: 0.5rem 1rem;
    width: 100%;
    display: block;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
}

#filter-until{
    display: block !important;
    margin-top: 10px;
}

#filter-query {
    display: block !important;
    margin-top: 10px;
    margin-bottom: 10px;
}