.listView {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.listView > * {
  width: max-content;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  gap: 0.5rem;
}

.listView li span,
.listView li b,
.listView li a {
  margin-right: 10px;
}

.listView .lucide-arrow-right {
  height: 16px;
  width: 16px;
  margin: 0 3px;
  position: relative;
  top: 2px;
}

.listView .eventsGridDisplay {
  border: 0px;
  width: 100%;
}

.listView .eventsGridDisplay .eventCell {
  /* background: white; */
}
