.mapView {
  margin-bottom: 4rem;
  width: 100%;
  height: 900px;
}

.mapView .leaflet-container {
  width: 100%;
  height: 100%;
}

.mapView .leaflet-popup {
    width: content;
}

.mapView .event-map-entry {
  width: inherit;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 24px;
  white-space: nowrap;
  overflow: hidden;
}
