.eventsGridDisplay {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  gap: 1rem;
  padding: 5rem;
  justify-content: center;
}

.eventDateDisplay {
  margin-top: 5rem;
  text-align: center;
}

.eventDateDisplay h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.eventDateDisplay button {
  background: none;
  border: none;
}
