.view-type-selector {
  position: absolute;
  right: 1rem;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #eee;
  display: flex;
  align-items: center;
}

.view-type-selector .view-selector {
  cursor: pointer;
  padding: 5px;
  border-left: 1px solid #ccc;
}

.view-type-selector .view-selector.selected {
  background: #ddd;
}

.view-type-selector .view-selector:first-child {
  border-left: 0;
}

@media (max-width: 768px) {
  .view-type-selector {
    position: static; /* Remove absolute positioning */
    right: auto; /* Reset right positioning */
    margin-top: 0.5rem; /* Add some top margin for spacing */
  }
}
