.yearNavigator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.bigYearLabel {
  font-size: 5rem;
  margin: 0;
}

.arrowButton:hover{
  transition: transform 0.5s;
  transform: scale(1.15);
  cursor: pointer;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

