@use "sass:color";
@use "sass:math";

/* Sorry, i couldn't come up with better names */
$datecolor: #626262;
$datenonintensecolor: #323232;
$dateintensecolor: #fff;
$datehighlightcolor: #000;

#calendar-grid {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
	justify-content: center;
	padding: 0 1rem;
}

.calendar {
	display: flex;
	flex-direction: column;
	padding: 10px;
	background: white;
	border-radius: 3px;
	box-shadow: 0 2px 5px #8080807a;
}

.month-label {
	text-align: center;
	padding: 5px;
}

.days-label {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	text-align: center;

	> span {
		padding: 5px;
	}
}

.date-grid {
	display: flex;
	flex-direction: column;
	gap: 2px;
	margin-top: 1rem;

	> .week {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		gap: 2px;

		> .date {
			padding: 5px;
			display: block;
			text-align: center;
			background: $datecolor;
			border-radius: 3px;
			color: white;
			cursor: pointer;

			&:hover {
				outline: $datehighlightcolor solid 2px;
			}

			@for $i from 0 through 10 {
				&[data-intensity="#{$i}"] {
					background: color.change($datecolor, $lightness: calc(100% - $i * (10%)));
					color: if($i > 5, $dateintensecolor, $datenonintensecolor);
					border: 1px solid color.change($datecolor, $alpha: math.clamp(0, calc(0.8 - (0.1 * $i)), 1));
				}
			}
		}
	}
}
