@font-face {
	font-family: 'Inter';
	src: url('/css/Inter-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
	outline: 0;
}

body {
	margin: 0;
	font-family: Inter, Arial, sans-serif;
}
