body {
	background: #e1e1e1;
}

nav {
	text-align: center;
}

article {
	div.bigyear {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
}

.big {
	font-size: 5rem;
}

#downloadButton {
	text-align: center;
	padding: 10px;
	border: 1px solid black;
	width: max-content;
	margin: 1rem auto;
	border-radius: 5px;
	cursor: pointer;

	&:hover {
		background: black;
		color: white;
	}
}
