body {
	background: #e1e1e1;
}

nav {
	text-align: center;
}

article {
	div.bigyear {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
}

.big {
	font-size: 5rem;
}
