#filters {
  margin-top: 80px;

  article {
    max-height: 60vh;

    header {
      text-align: right;
      padding: 0 0.5rem;

      button {
        padding: 0;
        background-color: transparent;
        border-color: transparent;
        color: currentColor;
        margin-bottom: 0;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
