name: Deploy GitHub Pages
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 14
          cache: npm
          cache-dependency-path: '**/package-lock.json'
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - working-directory: page
        run: npm install -D
      - name: Parse Markdowns
        working-directory: tools
        run: node mdParser.js
      - working-directory: page
        run: npm run build
      - name: Make all-events.json available at the site root
        working-directory: tools
        run: mv all-events.json ../page/build/all-events.json
      - name: Deploy to GitHub Pages
        if: github.ref_name == 'main'
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: page/build/
          keep_history: true
          fqdn: developers.events # CNAME
          jekyll: false # Solve website 404
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
